*.class
*.log

target/
/.bsp/
/.metals/
.bloop/
project/*
!project/build.properties
!project/plugins.sbt
repository/.bsp/
repository/project/
repository/generated_code
**/generated-resources/**
test.db
