*.class
*.log

target/
/.bsp/
/.metals/
.bloop/
project/*
!project/build.properties
!project/plugins.sbt
repository/.bsp/
repository/project/
repository/generated_code
repository/migrations/src/main/scala/migrations
**/generated-resources/**
test.db
